<style>
 
  .card svg.material-icons path {
    fill: #888;
  }

  .card-container-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 16px;
  }
  .card-container-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 16px;
  }
  .card-container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 240px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container-left .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container-left .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container-left .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container-left .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>
	<td  class="card-container-left">
		<div class="card">
			Repositorio DEV &nbsp;
				<a href="https://github.com/partigues/angular/tree/dev" target="_blank" rel="noopener"> Click here.
				</a>
		</div>
		  <div class="card">
		  Repositorio MAIN &nbsp;
		  <a href="https://github.com/partigues/angular" target="_blank" rel="noopener"> Click here.
		  </a>
		</div>
		
	</td>	
	<td class="card-container-left">
	  <div class="card">
		  Tiktok &nbsp;
		  <a href="https://www.tiktok.com/@mrpromonews" target="_blank" rel="noopener"> Click here.
		  </a>
	  </div>
	  <div class="card">
			Pinterest &nbsp;
				<a href="https://www.pinterest.com/mrpromonews/" target="_blank" rel="noopener"> Click here.
			</a>
		</div>
	 </td>
	  <td class="card-container-left">
		<div class="card">
		  My repository three &nbsp;
		  <a href="https://github.com/partigues/angular/tree/dev" target="_blank" rel="noopener"> Click here.
		  </a>
		</div>
		<div class="card">
		  My repository six &nbsp;
		  <a href="https://github.com/partigues/angular/tree/dev" target="_blank" rel="noopener"> Click here.
		  </a>
		</div>
	</td>
	<router-outlet></router-outlet>
